In [3]:
for i in range(2000,3201):
    if(i%7==0 or i%5!=0):
        print(i,end=',')
print("\b")

2001,2002,2003,2004,2006,2007,2008,2009,2011,2012,2013,2014,2016,2017,2018,2019,2021,2022,2023,2024,2026,2027,2028,2029,2030,2031,2032,2033,2034,2036,2037,2038,2039,2041,2042,2043,2044,2046,2047,2048,2049,2051,2052,2053,2054,2056,2057,2058,2059,2061,2062,2063,2064,2065,2066,2067,2068,2069,2071,2072,2073,2074,2076,2077,2078,2079,2081,2082,2083,2084,2086,2087,2088,2089,2091,2092,2093,2094,2096,2097,2098,2099,2100,2101,2102,2103,2104,2106,2107,2108,2109,2111,2112,2113,2114,2116,2117,2118,2119,2121,2122,2123,2124,2126,2127,2128,2129,2131,2132,2133,2134,2135,2136,2137,2138,2139,2141,2142,2143,2144,2146,2147,2148,2149,2151,2152,2153,2154,2156,2157,2158,2159,2161,2162,2163,2164,2166,2167,2168,2169,2170,2171,2172,2173,2174,2176,2177,2178,2179,2181,2182,2183,2184,2186,2187,2188,2189,2191,2192,2193,2194,2196,2197,2198,2199,2201,2202,2203,2204,2205,2206,2207,2208,2209,2211,2212,2213,2214,2216,2217,2218,2219,2221,2222,2223,2224,2226,2227,2228,2229,2231,2232,2233,2234,2236,2237,2238,2239,2240,2241,2242,2243,2244,2246,2247,2248,2249,2251,2252,2253,2254,2256,2257,2258,2259,2261,2262,2263,2264,2266,2267,2268,2269,2271,2272,2273,2274,2275,2276,2277,2278,2279,2281,2282,2283,2284,2286,2287,2288,2289,2291,2292,2293,2294,2296,2297,2298,2299,2301,2302,2303,2304,2306,2307,2308,2309,2310,2311,2312,2313,2314,2316,2317,2318,2319,2321,2322,2323,2324,2326,2327,2328,2329,2331,2332,2333,2334,2336,2337,2338,2339,2341,2342,2343,2344,2345,2346,2347,2348,2349,2351,2352,2353,2354,2356,2357,2358,2359,2361,2362,2363,2364,2366,2367,2368,2369,2371,2372,2373,2374,2376,2377,2378,2379,2380,2381,2382,2383,2384,2386,2387,2388,2389,2391,2392,2393,2394,2396,2397,2398,2399,2401,2402,2403,2404,2406,2407,2408,2409,2411,2412,2413,2414,2415,2416,2417,2418,2419,2421,2422,2423,2424,2426,2427,2428,2429,2431,2432,2433,2434,2436,2437,2438,2439,2441,2442,2443,2444,2446,2447,2448,2449,2450,2451,2452,2453,2454,2456,2457,2458,2459,2461,2462,2463,2464,2466,2467,2468,2469,2471,2472,2473,2474,2476,2477,2478,2479,2481,2482,2483,2484,2485,2486,2487,2488,2489,2491,2492,2493,2494,2496,2497,2498,2499,2501,2502,2503,2504,2506,2507,2508,2509,2511,2512,2513,2514,2516,2517,2518,2519,2520,2521,2522,2523,2524,2526,2527,2528,2529,2531,2532,2533,2534,2536,2537,2538,2539,2541,2542,2543,2544,2546,2547,2548,2549,2551,2552,2553,2554,2555,2556,2557,2558,2559,2561,2562,2563,2564,2566,2567,2568,2569,2571,2572,2573,2574,2576,2577,2578,2579,2581,2582,2583,2584,2586,2587,2588,2589,2590,2591,2592,2593,2594,2596,2597,2598,2599,2601,2602,2603,2604,2606,2607,2608,2609,2611,2612,2613,2614,2616,2617,2618,2619,2621,2622,2623,2624,2625,2626,2627,2628,2629,2631,2632,2633,2634,2636,2637,2638,2639,2641,2642,2643,2644,2646,2647,2648,2649,2651,2652,2653,2654,2656,2657,2658,2659,2660,2661,2662,2663,2664,2666,2667,2668,2669,2671,2672,2673,2674,2676,2677,2678,2679,2681,2682,2683,2684,2686,2687,2688,2689,2691,2692,2693,2694,2695,2696,2697,2698,2699,2701,2702,2703,2704,2706,2707,2708,2709,2711,2712,2713,2714,2716,2717,2718,2719,2721,2722,2723,2724,2726,2727,2728,2729,2730,2731,2732,2733,2734,2736,2737,2738,2739,2741,2742,2743,2744,2746,2747,2748,2749,2751,2752,2753,2754,2756,2757,2758,2759,2761,2762,2763,2764,2765,2766,2767,2768,2769,2771,2772,2773,2774,2776,2777,2778,2779,2781,2782,2783,2784,2786,2787,2788,2789,2791,2792,2793,2794,2796,2797,2798,2799,2800,2801,2802,2803,2804,2806,2807,2808,2809,2811,2812,2813,2814,2816,2817,2818,2819,2821,2822,2823,2824,2826,2827,2828,2829,2831,2832,2833,2834,2835,2836,2837,2838,2839,2841,2842,2843,2844,2846,2847,2848,2849,2851,2852,2853,2854,2856,2857,2858,2859,2861,2862,2863,2864,2866,2867,2868,2869,2870,2871,2872,2873,2874,2876,2877,2878,2879,2881,2882,2883,2884,2886,2887,2888,2889,2891,2892,2893,2894,2896,2897,2898,2899,2901,2902,2903,2904,2905,2906,2907,2908,2909,2911,2912,2913,2914,2916,2917,2918,2919,2921,2922,2923,2924,2926,2927,2928,2929,2931,2932,2933,2934,2936,2937,2938,2939,2940,2941,2942,2943,2944,2946,2947,2948,2949,2951,2952,2953,2954,2956,2957,2958,2959,2961,2962,2963,2964,2966,2967,2968,2969,2971,2972,2973,2974,2975,2976,2977,2978,2979,2981,2982,2983,2984,2986,2987,2988,2989,2991,2992,2993,2994,2996,2997,2998,2999,3001,3002,3003,3004,3006,3007,3008,3009,3010,3011,3012,3013,3014,3016,3017,3018,3019,3021,3022,3023,3024,3026,3027,3028,3029,3031,3032,3033,3034,3036,3037,3038,3039,3041,3042,3043,3044,3045,3046,3047,3048,3049,3051,3052,3053,3054,3056,3057,3058,3059,3061,3062,3063,3064,3066,3067,3068,3069,3071,3072,3073,3074,3076,3077,3078,3079,3080,3081,3082,3083,3084,3086,3087,3088,3089,3091,3092,3093,3094,3096,3097,3098,3099,3101,3102,3103,3104,3106,3107,3108,3109,3111,3112,3113,3114,3115,3116,3117,3118,3119,3121,3122,3123,3124,3126,3127,3128,3129,3131,3132,3133,3134,3136,3137,3138,3139,3141,3142,3143,3144,3146,3147,3148,3149,3150,3151,3152,3153,3154,3156,3157,3158,3159,3161,3162,3163,3164,3166,3167,3168,3169,3171,3172,3173,3174,3176,3177,3178,3179,3181,3182,3183,3184,3185,3186,3187,3188,3189,3191,3192,3193,3194,3196,3197,3198,3199,

In [10]:
n = int(input())

def fact(n):
    f = 1
    for i in range(1,n+1):
        f = f*i;
    return f

fact(n)

5

120

In [3]:
n = int(input())

def gen_dict(n):
    d = {}
    for i in range(1,n+1):
        d[i] = i*i
    return d

gen_dict(n)

8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Dia 2

In [19]:
#Q4
n = input()

def tolistandtuple(n):
    return n.split(sep=','), tuple(n.split(sep=','))

tolistandtuple(n)

12,22,32

(['12', '22', '32'], ('12', '22', '32'))

In [20]:
#Q5
class twoMethods():
    s=""
    
    def getString(self):
        self.s = input()
    def printString(self):
        print(self.s.upper())

In [21]:
miau = twoMethods()
miau.getString()

mew

In [22]:
miau.printString()

MEW

In [32]:
#Q6
from math import sqrt

n = input().split(',')
n = list(map(int, n))

C,H = 50,30

def equation(D):
    return round(sqrt((2*C*D)/H))

results = [equation(D) for D in n]
results

100,150,180

[18, 22, 24]

In [51]:
#Q7

m = input().split(',')
i,j = int(m[0]), int(m[1])

def matrix(j,i):
    ls = [[0 for x in range(i)] for y in range(j)] 
    for jc in range(j):
        for ir in range(i):
            ls[jc][ir] = jc*ir
            
    return ls

matrix(i,j)

3,5

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [54]:
#Q8
m = input().split(',')
print(sorted(m))

without,hello,bag,world
['bag', 'hello', 'without', 'world']

In [59]:
#Q9
def user_input():
    while True:
        s = input()
        if not s:
            return
        yield s

for line in map(str.upper, user_input()):
    print(line)

mew
MEW
Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

# Dia3

In [4]:
#Q10
m = input().split(' ')
print(" ".join(sorted(set(m))))

hola pa ti mi cola
cola hola mi pa ti

In [9]:
#Q11
m = list(input().split(','))
s = []
for n in m:
    if(int(n,2)%5==0):
        s.append(n)
    
print(" ".join(s))

1010,111
1010

In [25]:
#Q12
mews=[]
for i in range(1000,3001):
    mew = True
    s = [n for n in str(i)]
    for j in s:
        j = int(j)
        if(j%2 !=0 ):
            mew = False
            
    if(mew):
        mews.append(i)
            
mews

[2000,
 2002,
 2004,
 2006,
 2008,
 2020,
 2022,
 2024,
 2026,
 2028,
 2040,
 2042,
 2044,
 2046,
 2048,
 2060,
 2062,
 2064,
 2066,
 2068,
 2080,
 2082,
 2084,
 2086,
 2088,
 2200,
 2202,
 2204,
 2206,
 2208,
 2220,
 2222,
 2224,
 2226,
 2228,
 2240,
 2242,
 2244,
 2246,
 2248,
 2260,
 2262,
 2264,
 2266,
 2268,
 2280,
 2282,
 2284,
 2286,
 2288,
 2400,
 2402,
 2404,
 2406,
 2408,
 2420,
 2422,
 2424,
 2426,
 2428,
 2440,
 2442,
 2444,
 2446,
 2448,
 2460,
 2462,
 2464,
 2466,
 2468,
 2480,
 2482,
 2484,
 2486,
 2488,
 2600,
 2602,
 2604,
 2606,
 2608,
 2620,
 2622,
 2624,
 2626,
 2628,
 2640,
 2642,
 2644,
 2646,
 2648,
 2660,
 2662,
 2664,
 2666,
 2668,
 2680,
 2682,
 2684,
 2686,
 2688,
 2800,
 2802,
 2804,
 2806,
 2808,
 2820,
 2822,
 2824,
 2826,
 2828,
 2840,
 2842,
 2844,
 2846,
 2848,
 2860,
 2862,
 2864,
 2866,
 2868,
 2880,
 2882,
 2884,
 2886,
 2888]

In [13]:
#Q13
word = input()
letter, digit = 0,0

for i in word:
    if i.isalpha(): # returns True if alphabet
        letter += 1
    elif i.isnumeric(): # returns True if numeric
        digit += 1

HOLA miau 10

In [15]:
print(letter)
print(digit)

8
2

# Dia 4

In [4]:
#Q14
word = input()
upper, lower = 0,0

for i in word:
    if i.isupper():
        upper += 1
    elif i.islower():
        lower += 1
        
print("Mayusculas: ",upper)
print("Minusculas: ",lower)

Aja de je
Mayusculas:  1
Minusculas:  6

In [11]:
#Q15
number = input()
suma = 0

for i in range(1,5):
    suma = suma + int(number*i)

print(suma)

9
11106

# Dia 5

In [5]:
#Q16
lista = input().split(',')

nums = [int(i) for i in lista]
odds = [i**2 for i in nums if i%2!=0]
print(odds)

1,2,3,4,5
[1, 9, 25]

In [14]:
#Q17
lista = input().split(',')
deposit, withs, balance = 0,0,0

for i in range(len(lista)):
    if lista[i].startswith('D'):
        deposit += int(lista[i].split(' ')[1])
    elif lista[i].startswith('W'):
        withs += int(lista[i].split(' ')[1])

balance = deposit - withs
print(balance)

D 300,D 300,W 200,D 100
500

# Dia 6

In [11]:
#Q18
import re
passwords = input().split(',')
corrects = []
regex = re.compile(r"^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[$#@]).{6,12}$")

for passw in passwords:
    if regex.fullmatch(passw):
        corrects.append(passw)
        
print(corrects)

ABd1234@1,a F1#,2w3E*,2We3345
['ABd1234@1']

In [14]:
#Q19
lista = tuple(input().split(' '))

print(sorted(lista,key=lambda x: (x[0],x[1], x[2])))

Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85
['John,20,90', 'Jony,17,91', 'Jony,17,93', 'Json,21,85', 'Tom,19,80']

# Dia 7

In [13]:
#Q20

def generatorseven(n):
    for i in range(0,n+1):
        if i%7 == 0:
            yield i

In [14]:
for i in generatorseven(7):
    print(i)

0
7

In [16]:
#Q21
import math

lista = input().split(',')
x0,y0 = 0,0
x,y = 0,0

for i in range(len(lista)):
    if lista[i].startswith('U'):
        x += int(lista[i].split(' ')[1])
    elif lista[i].startswith('D'):
        x -= int(lista[i].split(' ')[1])
    elif lista[i].startswith('L'):
        y += int(lista[i].split(' ')[1])
    elif lista[i].startswith('R'):
        y -= int(lista[i].split(' ')[1])
        
distance = int(math.sqrt(x**2 + y**2))
print(distance)

UP 5,DOWN 3,LEFT 3,RIGHT 2
2

# Dia 8

In [2]:
#Q22
listapal = input().split(' ')
[[x,listapal.count(x)] for x in set(listapal)]

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

[['choosing', 1],
 ['Python', 5],
 ['2', 2],
 ['and', 1],
 ['between', 1],
 ['3.', 1],
 ['or', 2],
 ['3?', 1],
 ['Read', 1],
 ['to', 1],
 ['New', 1]]

In [4]:
#Q23
def square(num):
    '''
    param num: This is the number to be squared
    return: This method returns the squared of the num
    '''
    return num**2

print(square.__doc__)
square(2)

    param num: This is the number to be squared
    return: This method returns the squared of the num

4

In [6]:
#Q24
class objectExample():
    name = "examples"
    
    def __init__(self, name=None):
        self.name = name
        
miau = objectExample("Torve")
print(miau.name)

mew = objectExample()
mew.name = "trove"

print(mew.name)

Torve
trove

# Dia 9

In [1]:
#Q26
def sumfunction(num1, num2):
    return num1+num2

sumfunction(5,2)

7

In [2]:
#Q27
def convertStr(num):
    return str(num)

print(convertStr(12))

12

In [3]:
#Q28
def sumfunstr(num1, num2):
    return int(num1) + int(num2)

sumfunstr("20","2")

22

In [4]:
#Q29
def concatenatestr(str1, str2):
    return str1 + str2

concatenatestr("Hola","Padre")

'HolaPadre'

In [13]:
#Q30
def printbymaxstr(str1, str2):
    len1 = len(str1)
    len2 = len(str2)
    if len1>len2:
        return str1
    elif len2>len1:
        return str2
    else:
        return str1,str2
    
printbymaxstr("Hola","Alas")

('Hola', 'Alas')

# Dia 10

In [11]:
#Q31
def printDict():
    dics = {}
    for i in range(1,21):
        dics.update([(i,i**2)])
    print(dics)

In [12]:
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [14]:
#Q32
def printDictKeys():
    dics = {}
    for i in range(1,21):
        dics.update([(i,i**2)])
    print(dics.keys())
printDictKeys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [16]:
#Q33
def listSquared():
    lista = [i**2 for i in range(1,21)]
    print(lista)
    
listSquared()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [18]:
#Q34
def listSquaredFive():
    lista = [i**2 for i in range(1,21)]
    print(lista[:5])
    
listSquaredFive()

[1, 4, 9, 16, 25]

In [22]:
#35
def listSquaredLFive():
    lista = [i**2 for i in range(1,21)]
    print(lista[-5:])
    
listSquaredLFive()

[256, 289, 324, 361, 400]

In [23]:
#36
def listSquaredNFive():
    lista = [i**2 for i in range(1,21)]
    print(lista[5:])
    
listSquaredNFive()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [24]:
#37
def tupleSquared():
    tupla = tuple([i**2 for i in range(1,21)])
    print(tupla)
    
tupleSquared()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

# Dia 11

In [6]:
#Q38
tupla = (1,2,3,4,5,6,7,8,9,10)
print(tupla[:int(len(tupla)/2)])
print(tupla[int(len(tupla)/2):])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [8]:
#Q39
tupla = (1,2,3,4,5,6,7,8,9,10)
tupla2 = tuple([i for i in tupla if i%2==0])
tupla2

(2, 4, 6, 8, 10)

In [11]:
#Q40
string = input()
if string=='Yes' or string=='yes' or string == 'YES':
    print('Yes')
else:
    print('No')

YES
Yes

In [13]:
#Q41
lista = [1,2,3,4,5,6,7,8,9,10]
squared = map(lambda x:x**2, lista)
list(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
#Q42
lista = [1,2,3,4,5,6,7,8,9,10]
squared_even = list(map(lambda x:x**2,filter(lambda x:x%2==0,lista)))
squared_even

[4, 16, 36, 64, 100]

In [18]:
#Q43
evens = list(filter(lambda x:x%2==0, [i for i in range(1,21)]))
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Dia 12

In [1]:
#Q44
squared = list(map(lambda x:x**2, range(1,21)))
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [5]:
#Q45
class American ():
    nationality = "American"
    
    def printNationality(self):
        print(self.nationality)

americanino = American()
americanino.printNationality()

American

In [7]:
#Q46
class American(object):
    pass

class NewYorker(American):
    pass

mews = NewYorker()
print(mews)

<__main__.NewYorker object at 0x000001913D852F98>

# Dia 13

In [6]:
#Q47
import math 
class circle():
    def __init__(self, radius):
        self.radius = radius
        
    def calc(self):
        print(math.pi*self.radius**2)
        
circle1 = circle(5)
circle1.calc()

78.53981633974483

In [8]:
#Q48
class Rectangle():
    def __init__(self, l, w):
        self.l = l
        self.w = w
        
    def area(self):
        print(self.l*self.w)
        
rectangle = Rectangle(10,2)
rectangle.area()

20

In [9]:
#Q49
class Shape(object):
    def __init__(self):
        pass
    
    def area(self):
        print(0)
        
class Square(Shape):
    def __init__(self, l):
        Shape.__init__(self)
        self.l = l
    
    def area(self):
        return self.l**2
    
q1 = Square(5)
q1.area()

25

In [10]:
#Q50
raise RuntimeError('holi')

RuntimeError: holi

# Dia 14

In [1]:
def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError as err:
    print("Error miau", err)

Error miau division by zero

In [8]:
class ExceptionMew(Exception):
    def __init__(self,message):
        self.message = message

num=6

try:
    if num > 5:
        raise ExceptionMew("Error Miautico")
    else:
        print(num)
except ExceptionMew as ce:
    print(ce.message)

Error Miautico

In [9]:
email = "john@google.com"

email.split('@')[0]

'john'

# Dia 15